@charset "EUC-KR";

body {
	font-size : 9pt;
	color: black;
	line-height: 160%;
	font-family: 굴림, verdana, tahoma;
}

select {
    font-size : 9pt;
    color: black;
    line-height: 160%;
    font-family: 굴림, verdana, tahoma;
}

tr {
	font-size : 9pt;
	color: black;
	line-height: 160%;
	font-family: 굴림, verdana, tahoma;
}

td {
	font-size : 9pt;
	color: black;
	line-height: 160%;
	font-family: 굴림, verdana, tahoma;
}

select {
	font-size : 9pt;
	color: black;
	line-height: 160%;
	font-family: 굴림, verdana, tahoma;
}

div {
	font-size : 9pt;
	color: black;
	line-height: 160%;
	font-family: 굴림, verdana, tahoma;
}

form {
	font-size : 9pt;
	color: black;
	line-height: 160%;
	font-family: 굴림, verdana, tahoma;
}

textarea {
	border: 1px solid #999999;
	font-zie: 9pt;
	color: black;
	font-family: 굴림, verdana;
	background-color: white;
}

input {
    border: 1px solid #999999;
    font-zie: 9pt;
    color: black;
    font-family: 굴림, verdana;
    background-color: white;
    height: 19px;
}

a:link {
    text-decoration: none;
    color: #696969
}

a:hover {
    text-decoration: underline;
    color: #66ccff
}

a:visited {
    text-decoration: none;
    color: #330066}
