/* 공통 css*/
*{margin: 0;}
th{padding: 15px 5px; background-color: #848484;}
td{padding: 15px 5px;}
tr{text-align: center;}
.title{font-weight: 700;}
.main-text{border-bottom: 1px solid; padding: 10px;}
/*header*/
#header{width: 100%; background-color: black; min-width: 1240px;}
#header_inner{width: 1200px; position: relative; margin: 0 auto; padding: 20px;}
#logo{position: absolute;}
#logo img{width: 300px; height: 50px;}

/*header-login*/
#login ul{padding: 0; text-align: right; padding: 0;}
#login ul li{display: inline; line-height: 50px; padding: 0 10px 0 10px;}
#login ul li a{color: white; text-decoration: none;}
#login ul li a:hover {text-decoration: underline;}

/*header-menu bar*/
#nav{text-align: center;}
#nav ul{list-style: none; padding: 0; position: absolute; left: 30%; }
#nav ul li{display: inline; line-height: 50px; padding:0 10px 0 10px;}
#nav ul li a{color: white; text-decoration: none; font-weight: bold;}
#nav ul li a:hover {text-decoration: underline;}

/*main*/
.main{width: 100%; min-width: 1240px;}
.main_inner{width: 1100px; margin:auto;}

/*footer*/
#footer{width: 100%; background-color: black; clear: both; margin-top: 100px; min-width: 1240px;}
#footer_inner{width: 970px; margin: 0 auto; padding: 30px 0 40px; line-height: 20px; position:relative;};
#footer_logo{margin-bottom: 17px;}
#footer_info{list-style: none; padding: 0; margin-bottom: 15px;}
#footer_info li{display: inline; margin:0 10px 0 10px;}
#footer_info li a{color: white; text-decoration: none; font-size: 12px;}
#footer_info li a:hover {text-decoration: underline;}
#text1{color: white; font-size: 12px;}
#text2{color: white; font-size: 12px; position: absolute; right: 0;bottom: 40px;}



/* �꺆 �뒪���씪 吏��젙 */
.tab { overflow: hidden; border: 1px solid #ccc; background-color: #f1f1f1;}

/* �꺆 �궡遺��쓽 踰꾪듉 �뒪���씪 吏��젙 */
.tab button {background-color: inherit; float: left; border: none; outline: none; cursor: pointer;
			 padding: 14px 16px; transition: 0.3s; font-size: 17px;}

/* �샇踰꾩뿉 �엳�뒗 踰꾪듉�쓽 諛곌꼍�깋 蹂�寃� */
.tab button:hover {background-color: #ddd;}

/* �솢�꽦 / �쁽�옱 �꺆 留곹겕 �겢�옒�뒪 留뚮뱾湲� */
.tab button.active { background-color: #ccc;}

/* �꺆 �궡�슜�쓽 �뒪���씪 吏��젙 */
 .tabcontent {display: none; border: 1px solid #ccc; border-top: none;}

/* �뜝�뙠源띿삕 �뜝�룞�삕�뜝�룞�삕 �뜝�룞�삕���뜝�룞�삕 �뜝�룞�삕�뜝�룞�삕 */
.topright {float: right; cursor: pointer; font-size: 28px;}

.topright:hover {color: red;}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               

/*�뒳�씪�씠�뱶*/
.mySlides {display: none}
img {vertical-align: middle;}

/* �뒳�씪�씠�뱶 �눥 container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* �떎�쓬 諛� �씠�쟾 踰꾪듉 */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* �삤瑜몄そ�뿉 "�떎�쓬 踰꾪듉"諛곗튂 */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* 留덉슦�뒪瑜� �삱由щ㈃ 寃��젙�깋 諛곌꼍�깋�쓣 �빟媛� �닾紐낇븯寃� 異붽� */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* 罹≪뀡 �뀓�뒪�듃 */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* �닽�옄 �뀓�뒪�듃 (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* �젏�뱾/湲�癒몃━ 湲고샇/ 吏��떆怨� */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* �럹�씠�듃 �븷�땲硫붿씠�뀡 */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px;) {
  .prev, .next,.text {font-size: 11px;} */
/*�뜝�룞�삕�뜝�룞�삕 css �뜝�룞�삕*/



/*-----------------------------Index.jsp------------------------------------*/
#content_inner{width: 1088px; margin: 0 auto;}

#content_box1{width:1152px; overflow: hidden;}
#content_box2{width:1152px; overflow: hidden;}
#content_box3{width:1152px; overflow: hidden;}

.boxoffice_poster{overflow: hidden; list-style: none; padding: 0; width: 100%;}
.boxoffice_poster li{float:left;display:table-cell; padding: 0 20px 0 20px;}
.boxoffice_poster_div{text-align: center;}

#content{text-align: center; margin-top: 50px;}
#content ul{overflow: hidden; list-style: none;}

#content ul li{display: inline; padding: 0 30px 0 30px;}
#content ul li a{color: black; text-decoration: none;}
#content ul li a:hover {text-decoration: underline; color: red;}


.main_moviename{margin: 15px 0 15px 0;}
#test{
}
/*Index.jsp-event*/
#event{width: 100%; position: relative; padding: 70px 0 80px;}
#evnet_inner{width: 970px; position: relative; margin: 0 auto;}
#event_box1{width: 632px; height: 317px; background-color: blue; position: relative;}
#event_box2{width: 632px; height: 315px; position: relative;}
#event_box3{width: 327px; height:632px; background-color: green; position: absolute; right: 0; top: 0;}
#event2_right{width: 315px; height: 315px; background-color: gray; position: absolute; right: 0;}
#event_box2 #evnet2_left{width: 315px; height: 315px; background-color: purple;}
.main-eventbox-event{width: 100%; height: 100%;}

/*---------------------------movie.jsp----------------------------------*/
#poster-wrapper{padding: 0; list-style: none;}
.poster-item{width: 232px; height: 448px; float: left; margin: 7px; border: 1px solid #d9d9d9;}
.poster-item-img{width: 100%;}
.poster-img-text{font-size: 20px; font-weight: 700; display:block; width: 200px; height: 50px; margin: 10px 0 10px 0; overflow: hidden;}
.poster-img-info{border: 1px solid #d9d9d9; padding: 10px 15px 10px 15px;}
.poster-img-info:a{border-color: #198591; color: #198591;}
#test a{text-decoration: none; color: black;}
#test span:nth-child(2){margin: 0 12px;}

/*----------------------------movieInfo.jsp---------------------------------*/
#movieInfo-wrap{padding: 50px;}
#movieInfo-main-text{border-bottom: 1px solid; padding: 10px;}
#movieInfo-top{width: 1000px; overflow: hidden;}
#movieInfo-left{width: 233px; height: 336px; float: left;}
#movieInfo-left img{width: 100%;}
#movieInfo-right{float: right; width: 700px;}
.movieInfo-txt{font-size: 12px; border-bottom: 1px solid #c0c0c0;}
#movieInfo-info-wrap{margin-top: 11px;}
#movieInfo-info-ul{list-style: none; padding: 0; line-height: 25px; border-bottom: 1px solid #c0c0c0; padding-bottom: 10px;}
#test222{width: 100%; height: 300px; margin-bottom: 20px; border-bottom: 1px solid #c0c0c0; padding-bottom: 20px;}
/* 줄거리 */
#movieInfo-story{padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #c0c0c0;}
/* 비디오 */
#movieInfo-video{margin-bottom: 50px; padding-bottom: 50px; border-bottom: 1px solid #c0c0c0;}
#movieInfo-video video {width: 100%;}
/* 별점 */
.star-input>.input,
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{display: inline-block;vertical-align:middle;background:url('image/grade_img.png')no-repeat;}
.star-input{display:inline-block; white-space:nowrap;width:225px;height:40px;padding:25px;line-height:30px; border: 1px solid #d9d9d9;}
.star-input>.input{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;}
.star-input>.input>input{position:absolute;width:1px;height:1px;opacity:0;}
star-input>.input.focus{outline:1px dotted #ddd;}
.star-input>.input>label{width:30px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{background-size: 150px;background-position: 0 bottom;}
.star-input>.input>label:hover~label{background-image: none;}
.star-input>.input>label[for="p1"]{width:30px;z-index:5;}
.star-input>.input>label[for="p2"]{width:60px;z-index:4;}
.star-input>.input>label[for="p3"]{width:90px;z-index:3;}
.star-input>.input>label[for="p4"]{width:120px;z-index:2;}
.star-input>.input>label[for="p5"]{width:150px;z-index:1;}
.star-input>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}

/*�뜝�룞�삕�뜝占�*/
#movieInfo-bottom{overflow: hidden; margin-bottom: 50px;}
#movieInfo-bottom h2{margin-bottom: 15px;}
#movieInfo-comment{float: left;}
#movieInfo-commentView{float: left; width: 600px; height: 91px; margin-bottom: 1px solid #c0c0c0; margin-top: 1px solid #c0c0c0;}
#movieInfo-text{width: 100%; height: 86px; border: 1px solid #c0c0c0;}
#movieInfo-button{height: 92px;}
#movieInfo-button button{height: 100%; width: 120px;}
#movieInfo-review{list-style: none; padding: 0;}
#movieInfo-content{border: 1px solid #c0c0c0; margin-top: 5px;}
#movieInfo-star-wrap{padding: 10px 0 10px 0; display: inline-block;}
.movieInfo-review-star{display: block; width: 226px; height: 22px; line-height: 25px; padding:25px; border-right: 1px solid #c0c0c0;}
#movieInfo-review-content{width: 539px; display: inline-block; border-right: 1px solid #c0c0c0; padding: 25px;}
#movieInfo-review-id{display: inline-block; width: 50px; height: 22px;}

/*�뜝�룞�삕�떥�뜝�룞�삕 �뜝�룞�삕�뜝�룞�삕�뜝�떛�벝�삕*/



/*---------------------------reserve.jsp------------------------------- */
#reserve-main-inner{width: 1040px; margin: auto;}
#reserve-top-text{position: relative; border-bottom: 1px solid; padding-bottom: 15px;}
#p2{right: 0; position: absolute;}
.reserve-p{display: inline; font-weight: lighter; font-size: 13px;}
#reserve-choice{margin-bottom: 50px; padding-left: 50px; height: 800px; overflow: auto; border-bottom: 1px solid #e0e0e0;}
#reserve-choice-poster{width: 100%; height: 380px; overflow: -webkit-paged-x;}
#reserve-choice-poster ul{padding: 0; list-style: none; overflow: hidden;}
.reserve-choice-poster{float: left; margin: 10px;}
.area{width: 300px; height: 230px; border: 1px solid #e0e0e0; font-weight: 700; text-align: center; display: table-cell;}
.reserve-text{margin-top: 50px;}
#date{background-color: #f1f1f1; border: 1px solid #ccc; margin: 50px 0;}
#date button{padding: 14px 16px; list-style: none; border: none; outline: none;}
#date button:hover{background-color: #ddd;}
#next{text-align: right;}
#next button{padding: 14px 40px; border: none;}


/*--------------------------payment---------------------------------------*/
#payment-main-container{width: 100%; margin: 30px 0 80px;}
#payment-main-container-inner{padding: 10px 0; margin: 0 auto; width: 1100px;}
#point{padding-left: 30px;}
#point p{margin-bottom: 20px;}
#point form{padding-left: 60px; margin-bottom: 50px;}
div#point form label:nth-child(3){padding-left: 100px;}
#point-txt{width: 200px;}
#totalpay{padding-left: 30px;}
#totalpay h2{margin-bottom: 20px;}
#totalpay-center {margin-bottom: 50px;}
#totalpay-center label:nth-child(1){margin:0 60px;}
#totalpay-center label:nth-child(2){margin:0 60px;}
#totalpay-center label:nth-child(3){margin:0 60px;}
.font-weight{padding: 0 15px;}
#finish{text-align: center;}
#finish button{padding: 14px 16px; border: none;}
#finish button:nth-child(1){background-color: #F7D358;}
#finish button:nth-child(2){background-color: #e0e0e0;}
/*---------------------------eventList.jsp------------------------------  */

#event-container{margin-top: 30px; margin-bottom: 80px; overflow: hidden;}
#event-container-inner{padding-top: 30px; padding-bottom: 30px; overflow: hidden;}
#event-list{width: 1000px; margin: 0 auto; overflow: hidden;}
#event-wrapper{list-style: none; padding: 0; display: inline;}
.event-item{width: 232px; height: 448px; float: left; margin: 7px; border: 1px solid #d9d9d9;}
.event-item a{text-decoration: none; color: black;}
.event-item a span{padding: 0 12px;}
.event-item a span.title{height: 56px; font-size: 20px; font-weight: 700; margin:17px 0 20px; overflow: hidden; display: -webkit-box;}

.event-img{width: 100%;}
#test11{width: 100%; background-color: #f9f9f9; color: #666; border: none; height: 45px; margin: 20px auto 0; font-size: 18px;}

/*----------------------------eventContent.jsp----------------------------------*/
#eventContent-main-text{border-bottom: 1px solid; padding: 10px; margin-bottom: 50px;}
#eventContent-content center p {margin-bottom: 30px;}
#eventContent-content center button{width: 100px; height: 40px; margin: 0 10px 0 10px; border: none;}
#eventContent-content center button:nth-child(2){background-color: #F7D358;}
#eventContent-content center button:nth-child(3){background-color: #e0e0e0;}


/*-----------------------------myPage.jsp---------------------------------------*/
#myPage-main-text{border-bottom: 1px solid; padding: 10px; margin-bottom: 20px;}
#myPage-content{text-align: -webkit-center;}
.mypage-table{width: 100%;}
.mypage-table thead tr:nth-child(even){background-color: #D8D8D8;}
/*개인정보 수정*/
.revice-inner{width: 550px; padding:40px 0; margin: 0 auto; background-color: aqua; text-align: center;}


/*-----------------------------login.jsp------------------------------------*/
#login-main{width: 100%;}
#login-wrap{width: 900px; margin: 0 auto; padding-bottom: 50px; border-bottom: 1px solid black;}
#login-txt{margin-top: 100px; margin-bottom:30px; border-bottom: 1px solid;}
#login-btn{width: 245px; height:35px; border: 2px solid #b5b5b5; background-color: red; font-weight: bold; line-height: 30px; color: white;}
.login-input{display: block; width: 241px; height: 30px; border: 2px solid #b5b5b5;}
#login-save{ position: absolute;}
#log-save-txt{font-size: 12px;}
#login-option{font-size: 12px; width: 241px; text-align: right;}
#login-option a{ color: black;}
#login-info{width:900px; height: 60px; margin:0 auto; line-height: 60px;}
#log-info-st{color: red;}
#login-info .login-round{width:150px; text-align:center; border: 1px solid red; text-decoration: none; padding:0 10px;}




/*-----------------------------notice.jsp-------------------------------*/
#notice-main-text{border-bottom: 1px solid; padding: 10px; margin-bottom: 20px;}



/*-------------------------------customerService.jsp---------------------------*/
#customerService-wrap {padding: 115px; text-align: center; height: 50px; line-height: 50px;}
#customerService-bottom-wrap{margin-top: 10px; width: 900px; margin: 0 auto;}
#customerService-table{background-color: #fdfcf0;}
.tb1_info_txt{background-color: #edebe1; border-top: 1px solid #b8b6aa; text-align: right;}
.box-btn.qna_email{margin-top: 30px; text-align: right;}
.round{text-align: right;}
/*-------------------------------personalInformation.jsp----------------------------*/
#person-info{float: right;}
.must-img{margin-bottom: 10px;}
.person-main{padding-top: 50px;}
.person-main button{padding: 14px 30px; position: relative; left: 72%; margin-bottom: 50px;}
.person-main label{margin-top: 3px;}
.person-main table{width: 980px; margin:30px 0 20px; border-collapse: collapse;}
.person-main table tbody tr{text-align: left; border-bottom: 1px solid;}
.person-main table tbody tr:nth-child(1) {border-top: 1px solid;}
.person-main table tbody th{background-color: #f8f8f8; width:250px; padding: 20px 16px;}
.warning-msg{color: red; display:none;}

/*회원 탈퇴*/
div.getout{margin-bottom: 50px;}
div.getout h1{padding:100px 0; text-align: center;}
div.getout h2{border-top: 1px solid; padding-top: 20px;}
div.getout button{padding: 14px 15px; position: relative; left: 81%;}
